<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="9.0.0" manuallyInstalled="true" />
  <package id="LiteNetLib" version="2.0.2" manuallyInstalled="true" />
  <package id="Microsoft.NET.StringTools" version="18.3.3" manuallyInstalled="true" />
  <package id="NUlid" version="1.7.3" manuallyInstalled="true" />
  <package id="NodaTime" version="3.3.1" manuallyInstalled="true" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0" />
</packages>